<html>
  <head>
    <style>
      .btn-recover{ background: #3B82F6; border: none; color: white!important;
      text-decoration: none; border-radius: 8px; padding: 10px; font-size: 20px;
      cursor: pointer; } .btn-recover:hover{ opacity: 0.6; cursor: pointer; }
    </style>
  </head>
  <body>
    <h2
      style='color: #0177ED; font-weight: 700; font-size: 26px;'
    >{{fullName}},</h2>
    <p style='color: #003264; font-size: 20px;'>
      Estás recibiendo este correo porque hiciste una solicitud de
      restablecimiento de tú contraseña para el sistema
      <b>pantaDoc</b>.
    </p>
    <div>

    </div>
    <p style='color: #003264; font-size: 20px; '>
      Para continuar, por favor haz clic en el siguiente botón, si no funciona
      haz clic en el enlace.
    </p>
    <a class='btn-recover' href='{{urlRecoverPassword}}'>Restablecer contraseña</a>
    <p style='color: #003264; font-size: 20px; '>
      Si no reconoces esta solicitud, por favor has caso omiso de este correo.
    </p>
    <div style='width: 100px; height: 100px'>
      <img src='cid:unique@logo.cid' alt='logo' />
    </div>
  </body>
</html>